absl-py==0.9.0
Adv2==1.2.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.11.1
appdirs==1.4.3
appnope==0.1.0
appscript==1.2.5
argcomplete==3.0.8
asgiref==3.4.1
astroid==2.4.1
astropy==5.2.1
astroquery==0.4.6
astunparse==1.6.3
async-timeout==4.0.2
attrs==19.3.0
autopep8==1.5.4
backcall==0.1.0
backtrader==1.9.74.123
banal==1.0.6
beautifulsoup4==4.12.3
bleach==3.1.4
blinker==1.7.0
boto==2.49.0
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.7
configparser==5.0.0
coreapi==2.3.3
coreschema==0.0.4
crcmod==1.7
cryptography==40.0.2
cycler==0.10.0
dask==2.16.0
dataset==1.6.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
Django==3.2.5
django-cors-headers==3.7.0
django-rest-auth==0.9.5
django-rest-swagger==2.2.0
djangorestframework==3.12.4
docopt==0.6.2
entrypoints==0.3
ephem==4.1.4
et-xmlfile==1.1.0
fasteners==0.18
filelock==3.0.12
Flask==3.0.2
Flask-Cors==4.0.0
frozenlist==1.3.3
fsspec==0.7.3
fugashi==1.1.0
gast==0.3.3
gcs-oauth2-boto-plugin==3.0
google-api-core==1.22.2
google-api-python-client==1.11.0
google-apitools==0.5.32
google-auth==2.18.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
google-reauth==0.1.1
googleapis-common-protos==1.52.0
googletrans @ git+https://github.com/alainrouillon/py-googletrans@15b236f3b96fc9accbe427c0b39bbe1a05bc9338
greenlet==2.0.2
grpcio==1.28.1
gspread==6.0.0
gsutil==5.24
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.12.22
html5lib==1.1
httpcore==0.9.1
httplib2==0.20.4
httpx==0.13.3
huggingface-hub==0.0.8
hyperframe==5.2.0
idna==2.9
imageio==2.25.0
importlib-metadata==6.0.0
importlib-resources==5.10.2
iniconfig==1.1.1
ipadic==1.0.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==2.1.2
itypes==1.2.0
jaraco.classes==3.2.3
jedi==0.17.0
Jinja2==3.1.3
joblib==0.14.1
JsonForm==0.0.2
jsonschema==3.2.0
JsonSir==0.0.2
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==23.13.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
line-profiler==3.0.2
llvmlite==0.39.1
locket==0.2.0
lxml==5.1.0
Mako==1.2.4
Markdown==3.2.1
MarkupSafe==2.1.5
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
monotonic==1.6
more-itertools==9.0.0
MouseInfo==0.1.3
mpl-finance @ https://github.com/matplotlib/mpl_finance/archive/master.zip
mplfinance==0.12.4a0
multidict==6.0.4
nbconvert==5.6.1
nbformat==5.0.5
networkx==3.0
notebook==6.0.3
numba==0.56.4
numpy==1.22.0
oandapy==0.1
oandapyV20==0.6.3
oauth2client==4.1.3
oauthlib==3.1.0
openapi-codec==1.3.2
opencv-python==4.7.0.68
openpyxl==3.0.10
opt-einsum==3.2.1
packaging==20.9
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pipreqs==0.4.10
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.13.0
psutil==5.9.8
psycopg2==2.9.1
ptyprocess==0.6.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.54
pycodestyle==2.6.0
pycparser==2.21
pyephem==9.99
pyerfa==2.0.0.1
PyGetWindow==0.0.9
Pygments==2.6.1
pylint==2.5.2
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyobjc-core==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-Quartz==10.1
pyOpenSSL==23.1.1
pyote==5.0.7
pyotp==2.8.0
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.8
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyqtgraph==0.12.4
PyRect==0.2.0
pyrsistent==0.16.0
PyScreeze==0.1.30
pytest==6.2.3
python-dateutil==2.8.1
python-dotenv==0.17.1
Python-EasyConfig==0.1.7
pyti==0.2.2
pytweening==1.0.7
pytz==2019.3
pyu2f==0.1.5
pyvo==1.4
PyWavelets==1.4.1
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
regex==2021.4.4
requests==2.31.0
requests-oauthlib==1.3.0
Resource==0.2.1
retry-decorator==1.1.1
rfc3986==1.5.0
rsa==4.7.2
rubicon-objc==0.4.7
sacremoses==0.0.45
scikit-image==0.19.3
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
simplejson==3.17.2
six==1.14.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.0.1
SQLAlchemy==1.4.48
sqlparse==0.4.1
StrEnum==0.4.15
TA-Lib==0.4.18
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0rc3
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tifffile==2023.1.23.1
tokenizers==0.10.3
toml==0.10.0
toolz==0.10.0
torch==1.4.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
transformers==4.6.1
typing_extensions==4.6.3
uritemplate==3.0.1
urllib3==1.25.9
uWSGI==2.0.19.1
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==3.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==2.0.1
xlwings==0.30.13
yarg==0.1.9
yarl==1.9.2
zipp==3.12.0
